.EditorWrapper {
    background-color: black;
    color: white;
    padding: 15px;
    max-height: 400px;
    overflow-y: auto;
}

textarea {
    caret-color: white; 
    padding: 0 !important;
    padding: 1px 0 0 var(--editor-gutter) !important;
    outline: none;
}

pre {
    padding: 0 !important;
}

.Editor {
    counter-reset: line;
}

.Editor.is-disabled textarea {
    pointer-events: none;
}
  
.Editor_line_number:before {
    position: absolute;

    /* left: -var(--editor-gutter); */
    right: 100%;

    text-align: right;
    opacity: .3;
    user-select: none;
    counter-increment: line;
    content: counter(line);
    display: block;
    width: var(--editor-gutter);
    margin-left: -10px;
}